<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://camel.apache.org/schema/spring
        http://camel.apache.org/schema/spring/camel-spring.xsd">

	<!-- Camel Contextのコンフィギュレーション -->
	<camelContext xmlns="http://camel.apache.org/schema/spring" autoStartup="false">
		<route id="FileToFileのルート">
			<from uri="file:/tmp/work/in?noop=true&amp;delay=5000" />
			<to uri="file:/tmp/work/out?fileName=${file:name.noext}.${date:now:yyyyMMdd-HH:mm:ss}" />
		</route>
	</camelContext>
</beans>
